/* C:\Users\ASUS\OneDrive\Desktop\JAVASCRIPT\react\testol\src\App.css */
body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
  width: 100%;
  position: relative;
}
